body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    background-image: url(background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-style: none;
    height: 100%;
    background-color: #0D0518;
}
h1{
    text-align: center;
    color: white;
}

.top{
    margin-top: 20%;
    text-shadow: 3px 3px black;
}

.Content{
    color: white;
    text-align: center;
    text-shadow: 0 3px black;
}

.Content h2{
    margin-top: 5px;
}
.Content p{
    margin-bottom: 5px;
}

.floating {  
    animation-name: floating;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 25%;
    margin-top:10%;
    width: 100px;

}

@keyframes floating {
    from { transform: translate(10px,  10px); }
    10%  { transform: translate(60px, -10px); }  
    20%  { transform: translate(110px, 10px); }  
    30%  { transform: translate(160px, -10px); }
    40%  { transform: translate(210px, 10px); }
    50%  { transform: translate(260px, -10px); }
    60%  { transform: translate(210px, 10px); }
    70%  { transform: translate(160px, -10px); }
    80%  { transform: translate(110px, 10px); }
    90%  { transform: translate(60px, -10px); }
    to   { transform: translate(10px, 10px); }    
}

.rotate {
    position: absolute;
    float: right;
    top: 350px;
    right: -125px;
    width: 480px;
    height: 480px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 13s linear infinite;
    -moz-animation:spin 13s linear infinite;
    animation:spin 13s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }