html, body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    
}
h1{
    text-align: center;
}

.parallax {   
    background-image: url("under%20construction.svg");    
    min-height: 650px;     
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.Content {
    max-width: 750px;
    margin: auto;
    padding: 50vh;
    justify-content: center;
    text-align: center;
    color: black;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
