html, body {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 28px;
    
}
h1{
    text-align: center;
}

.top{
    padding-top: 10vh;
    padding-bottom: 10vh;
}


.parallax {
    background-image: url("under%20construction.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 450px;
    max-width: 100%;
}


.Content {
    justify-content: center;
    text-align: center;
    color: black;
    padding-top: 50vh;
    padding-bottom: 50vh;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 320px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }